:root {
    --blue: #69b1ff;
    --gray: #fafafa;
}

body {
    margin: 0 auto;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.panel {
    display: flex;
}

.form-group {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
}

.result {
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--gray);
}

.form-group h2,
.result h2 {
    margin: 0;
}

.btn {
	background-color: #4096ff;
	outline: none;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-size: 15px;
	transition: 0.3s all;
    padding: 6px;
}

.btn:hover {
	opacity: 0.7;
}

.btn:active {
	opacity: 1;
}

.form-group > * {
    margin: 5px 0;
}

.hidden {
    display: none;
}

label input {
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: 1px solid var(--blue);
    transition: 0.3s all;
    outline: none;
    font-size: 10pt;
    padding: 10px 5px;
    box-shadow: 10px 10px 20px -14px rgba(64, 150, 255, 0);
}

label input:focus {
    box-shadow: 10px 10px 20px -14px rgba(64, 150, 255, 0.8);
}

/* highlight required field and append a asterisk to it */
label span:has(+input:required)::after {
    content: " *";
    color: red;
}

